@import 'variables'


$text-light: $white
$text-gray:  $gray-2

$var-color:     $cyan-0
$var-border:    $cyan-1
$num-color:     $blue-0
$num-border:    $blue-1
$type-color:    $light-green-0
$type-border:   $light-green-1
$bracket-color: $blue-gray-0
$empty-color:   $gray-0
$empty-border:  $gray-2
$error-color:   $strong-red-0
$error-border:  $strong-red-1

$light-color: $white
$hover-color: rgba($white,.8)

$token-font-size:   16px
$token-line-height: $token-font-size

$term-border-radius: 7px
$expr-border-radius: $term-border-radius + 2px
$expr-border: 2px solid

$term-shadow:       $shadow-1
$term-shadow-hover: $shadow-2
$hole-shadow:       $shadow-1-inset
$term-transition:   0.2s


@function stud-right($c)
  @return linear-gradient(0deg, $c 0%, $c 33%, transparent 33%, transparent 67%, $c 67%, $c 100%)

@function stud-left($c)
  @return linear-gradient(0deg, transparent 0%, transparent 33%, $c 33%, $c 67%, transparent 67%, transparent 100%)

@mixin left-border-radius($r)
  border-top-left-radius: $r
  border-bottom-left-radius: $r

@mixin right-border-radius($r)
  border-top-right-radius: $r
  border-bottom-right-radius: $r

editor
  height: 100vh
  display: grid
  grid-template-columns: 0.4fr 1fr
  grid-template-rows: 50px 1fr 0.3fr
  font-family: Monaco, monospace

  nav
    grid-column: 1/3

  .tab
    &.sidebar
      grid-column: 1/2
      grid-row: 2/4
      background: $gray-0
      >p
        margin: 5px

    &.main
      grid-column: 2/3

  .trash
    height: 100px
    width: 100px
    background: $gray-1

    .ghost
      // opacity: 0
      display: none

  .slot
    display: inline-flex
    align-items: center
    height: 100%

  .term
    display: inline-flex
    position: relative
    align-items: center
    height: 100%
    // z-index: 1
    color: $text-light
    // padding: 2px
    // border: $term-border
    // border-radius: $term-border-radius

  .token
    margin: 4px
    font-size:   $token-font-size
    line-height: $token-line-height
    pointer-events: auto


  .ghost
    // opacity: 0
    display: none

  .drag
    // pointer-events: none
    // background: red
    // opacity: 0.4

main-module
  display: block
  // position: relative
  // user-select: none

statement
  display: block
  margin: 10px
  padding: 5px

bind
  font-size: 0
  >.token
    margin: 0 6px

bind-left
  display:  inline-flex
  position: relative
  border: $expr-border
  border-radius: $expr-border-radius
  box-shadow: $term-shadow

  >bind-var
    margin: -2px
    margin-right: 0
    >.slot>.sample:not(.drag)>hole
      display: none
    &.func>highlight
      @include right-border-radius(0)
  >pattern
    pointer-events: auto

  // >.term
  //   @include left-border-radius($term-border-radius)
  //   border-right: $expr-border
  //   &.right
  //     @include right-border-radius($term-border-radius)
  //     border-right: none
    // border:        $expr-border
    // border-radius: $expr-border-radius
  >highlight
    margin: -2px
    border-radius: $expr-border-radius

bind-var
  display: inline-flex
  position: relative
  cursor: pointer
  font-size: 0
  >.slot>.sample
    border-radius: $expr-border-radius
  >.slot>.sample>.term
    border: $expr-border
    border-radius: $expr-border-radius
    &.var
      background:   $var-color
      border-color: $var-border
  &.func>.slot>.sample>.term
    @include right-border-radius(0)
  >highlight
    border-radius: $expr-border-radius

  .ghost
    display: inline-flex

expr, pattern
  display: inline-flex
  position: relative
  // border: $expr-border
  // border-radius: $expr-border-radius
  pointer-events: none
  cursor: pointer

  &.outer
    pointer-events: auto
    border-radius: $expr-border-radius
    box-shadow: $term-shadow
    // >.slot>.term

  &.bracket
    background: $bracket-color
    padding: 1px
    pointer-events: none
    >highlight.outer
      margin: 1px
  &.left
    >.slot>.term
      @include left-border-radius($term-border-radius)
      border-right: $expr-border
    >highlight
      @include left-border-radius($expr-border-radius)
      margin-right: 0
  &.right
    >.slot>.term:not(.drag)
      @include right-border-radius($term-border-radius)
    >highlight
      @include right-border-radius($expr-border-radius)
    &.bracket
      @include right-border-radius($term-border-radius)
  &.outer>.slot>.term, >.slot>.term.drag
    border: $expr-border
    border-radius: $expr-border-radius
  &.outer.func
    >.slot>.term
      @include right-border-radius(0)
      pointer-events: auto

  >highlight
    margin: -2px
    &.outer
      margin: 0
      border-radius: $expr-border-radius

hole
  display: inline-flex
  position: relative
  border-top:    $expr-border
  border-bottom: $expr-border
  background-color: transparent!important
  pointer-events: auto
  border-right: $expr-border
  box-shadow: $hole-shadow
  &.right
    @include right-border-radius($expr-border-radius)
    >highlight
      @include right-border-radius($expr-border-radius)
  >.slot>type>.term
    color: $text-gray
    border: none
    background-color: transparent!important
  &.conpact>.slot>type *
    font-size: 0!important
  >highlight
    margin: -2px

pattern
  .ghost
    display: inline-flex

expr-emp
  >type
    >.term
      border: none
    .term.type
      border-color: $empty-border
      background:   $empty-color
      color:        $text-gray
  // >.slot>type
  //   >.term.type
  //     border-color: $empty-border
  //     color: $text-gray
  //     background: transparent
  //   *
  //     background: transparent

app-expr
  display: inline-flex
  position: relative
  font-size: 0
  // border-radius: $term-border-radius
  @include left-border-radius($term-border-radius)

  border-right: $expr-border
  pointer-events: auto

  &.outer
    border: $expr-border
    border-radius: $expr-border-radius

type
  display: inline-flex
  position: relative

  >.term
    border: $expr-border
    border-radius: $expr-border-radius

type-info
  position: absolute
  left: 0
  top: 100%
  z-index: 100
  &, *
    pointer-events: none

infos
  position: absolute
  left: 0
  bottom: 100%
  z-index: 100
  &, *
    pointer-events: none

error
  display: flex
  align-items: center
  white-space: nowrap
  // flex-basis: content
  // width: 300px
  border: $expr-border
  border-radius: $expr-border-radius
  background: $error-color
  border-color: $error-border

  .term
    border: $expr-border
    border-radius: $expr-border-radius
    margin: 1px

highlight
  display: inline-block
  position: absolute
  width: auto
  height: auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  border: $expr-border
  pointer-events: none
  box-shadow: $light-1
  border-color: transparent
  transition: .05s
  &.error
    border-color: $error-border
  &.hover
    border-color: $hover-color
    background-color: rgba(255,255,255,0.2)
    // opacity: 1

sample
  .sample
    box-shadow: $term-shadow

expr-sample
  display: inline-flex
  position: relative
  cursor: pointer
  font-size: 0
  >.slot>.term
    border: $expr-border
    border-radius: $expr-border-radius
    box-shadow: $term-shadow
  >highlight
    border-radius: $expr-border-radius

  .ghost
    display: inline-flex

input-field
  display: inline-flex
  margin: 0 4px
  border: none
  pointer-events: auto
  input
    line-height: $token-line-height
    height:      $token-line-height + 8px
    // overflow: visible
    padding: 0

    margin: 0
    font-size: $token-font-size
    color: $text-light
    border: none
    outline: none
    background: transparent
    width: auto

editor
  .emp, .term.emp, .slot>.term.emp
    background:   $empty-color
    border-color: $empty-border
  .var, .term.var, .slot>.term.var
    background:   $var-color
    border-color: $var-border
  .num, .term.num, .slot>.term.num
    background:   $num-color
    border-color: $num-border
  .type, .term.type, .slot>.term.type
    background:   $type-color
    border-color: $type-border
